.nodeContent {
  overflow: hidden;
  padding-block: var(--content-padding-block);
  padding-inline: var(--content-padding-inline);
  display: flex;
  gap: var(--gap);
}
.audioworklet-node-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.audioworklet-textarea-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
.audioworklet-textarea {
  flex: 1;
  width: 100%;
  font-family: monospace;
  font-size: 9px;
  resize: none;
  border: none;
  box-sizing: border-box;
  tab-size: 2;
  outline: 1px solid #ccc;

  &[aria-errormessage] {
    outline-color: var(--color-error);
  }
}
.audioworklet-textarea-error {
  font-family: monospace;
  font-size: 8pt;
  background-color: var(--color-error);
  color: white;
  padding: 2.5px;
  outline: 1px solid var(--color-error);
}
.audioworklet-button-container {
  display: flex;
  gap: var(--gap);
}
