.button {
  --color-border: color-mix(in srgb, var(--color-node), white 60%);
  font-family: times;
  background: color-mix(in srgb, var(--color-node, white), white 95%);
  outline: 1px solid var(--color-border, var(--color-stroke));
  border: none;
}
