.nodeContent {
  overflow: hidden;
  padding-block: var(--content-padding-block);
  padding-inline: var(--content-padding-inline);
  display: grid;
  gap: var(--gap);

  &.disabled {
    opacity: 0.5;
  }
}
