.container {
  font-size: 10px;
  color: var(--color-text);
  height: var(--element-height);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
}

.label {
  padding-inline-start: var(--port-radius);
}
