.portExtended {
  --color: var(--color-port-audio);
  stroke: var(--color);
  fill: transparent;
  opacity: 0;
}

.hovered {
  opacity: 1;
}

.port {
  --color: var(--color-port-audio);
  fill: var(--color);
  stroke: transparent;
  pointer-events: none;
}

.portExtended[data-kind="param"],
.port[data-kind="param"] {
  --color: var(--color-port-param);
}

.portExtended[data-kind="output"],
.port[data-kind="output"] {
  --color: var(--color-port-output);
}

.label {
  font-size: 10px;
  fill: var(--color-text);
  pointer-events: none;
}
