.node {
  width: 100%;
  height: 100%;
  border: 1px solid color-mix(in srgb, var(--color-node), white 60%);
  background: white;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  cursor: move;
}

.nodeHeader {
  position: relative;
  background: color-mix(in srgb, var(--color-node), white 95%);
  border-bottom: 1px solid color-mix(in srgb, var(--color-node), white 60%);
}

.nodeTitle {
  font-size: 12px;
  color: var(--color-text);
  padding-left: calc(var(--content-padding-inline) + var(--port-radius));
  line-height: 20px;
}

.nodeContent {
  overflow: hidden;
  padding-block: var(--content-padding-block);
  padding-inline: var(--content-padding-inline);
  display: grid;
  gap: var(--content-gap);
}

.deleteButton {
  position: absolute;
  top: var(--content-padding-inline);
  right: var(--content-padding-inline);
  width: 15px;
  height: 15px;
  padding: 0px;
  cursor: pointer;
}

.resizeHandle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  cursor: nwse-resize;
  background-color: color-mix(in srgb, var(--color-node), white 60%);
  clip-path: polygon(100% 100%, 100% 0, 0 100%);
}
