.node {
  width: 100%;
  height: 100%;
  border: 1px solid color-mix(in srgb, var(--color-node), white 60%);
  background: white;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.nodeHeader {
  position: relative;
  background: color-mix(in srgb, var(--color-node), white 95%);
  border-bottom: 1px solid color-mix(in srgb, var(--color-node), white 60%);
}

.nodeTitle {
  font-size: 12px;
  color: var(--color-text);
  padding-left: 10px;
  line-height: 20px;
}

.nodeContent {
  overflow: hidden;
  padding: var(--content-padding);
  display: grid;
  gap: var(--content-gap);
}

.portLabel {
  position: absolute;
  font-size: 10px;
  color: #666;
  transform: translateY(-50%);
  white-space: nowrap;
}

.portLabelIn {
  left: calc(var(--port-radius) + var(--content-gap));
}

.portLabelOut {
  right: calc(var(--port-radius) + var(--content-gap));
}

.deleteButton {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 15px;
  height: 15px;
  padding: 0px;
  cursor: pointer;
}

.resizeHandle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  cursor: nwse-resize;
}
