body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.svg {
    width: 100vw;
    height: 100vh;
}

.svg[data-dragging] * {
    user-select: none;
}

.port {
    fill: #4a9eff;
    stroke: #2a6cc7;
    stroke-width: 1.5;
}

.port[data-kind="param"] {
    fill: #ff6b6b;
    stroke: #c74a4a;
}

.port[data-kind="output"] {
    fill: #51cf66;
    stroke: #37a34d;
}

.deleteButton {
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.15s;
}

.deleteButton:hover line {
    stroke: #e03131;
}

g:hover > .deleteButton {
    opacity: 1;
}