body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;

  --color-stroke: #b2b2b2;
  --color-text: #121212;
  --color-edge: #313131;
  --color-port-audio: #4a9eff;
  --color-port-param: #ff6b6b;
  --color-port-output: #51cf66;

  --color-error: #ff6b6b;
}
